body {
    position: relative;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }

#sjsupic {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#education {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}

#skills {
    padding-top: 50px;
    height: 500px;
    color: #00bcd4;
    background-color: #fff;
}

#projects {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#competitions {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}


#contact {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}